---
---

<section class='mb-8'>
  <div class='mb-6'>
    <h1
      class='font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden'
    >
      <span
        class='bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue'
      >
        Hunter's Blog
      </span>
    </h1>
  </div>
  <div>
    <p class='mb-5'>
      This blog is meant to be a place for more long-form blog posts, rather than my posts on <a
        href='https://twitter.com/hunterparcells'
        target='_blank'>Twitter</a
      >. You'll find a little bit of everything here, from project case studies to brief writing
      samples, and everything in between.
    </p>
    <p class='mb-5'>
      Checkout my main website at <a href='http://hunterparcells.com/' target='_blank'
        >http://hunterparcells.com/</a
      >. Support my work on my <a href='https://ko-fi.com/hunterparcells' target='_blank'
        >Ko-fi page</a
      >.
    </p>
    <p class='mb-5'>
      This website was built with <a href='https://astro.build/' target='_blank'>Astro</a> and <a
        href='https://github.com/flexdinesh/blogster'
        target='_blank'>Blogster</a
      >. All code is hosted on GitHub at <a href='https://github.com/hparcells/blog' target='_blank'
        >https://github.com/hparcells/blog</a
      >.
    </p>
  </div>
</section>
